.Menu {
  padding: 8px;
  margin-top: 16px;
  margin-left: 8px;
  margin-right: 8px;
}

.Header {
  flex-direction: row;
  justify-content: space-between;
  margin: 16px 8px;
}

.Footer {
  margin: 16px 8px 32px;
}

.Gem {
  padding: 8px;
  border-radius: 10px;
  width: fit-content;
}
