.loginContainer {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 24px;
}

.icon {
  background-color: hsl(var(--primary));
  color: hsl(var(--background));
  margin: auto;
  padding: 14px;
  margin-bottom: 16px;
  width: 56px;
  border-radius: 50px;
}

.text {
  color: hsl(var(--primary));
}

.caption {
  color: hsl(var(--muted-foreground));
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 8px;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer {
  display: flex;
  flex-direction: row;
  margin: auto;
  text-align: center;
  gap: 4px;
}

.footerButton {
  padding: 0;
  height: 24px;
}

.separatorContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.separator {
  width: 185px;
  margin: auto;
}
