.loginContainer {
  width: 400px;
}

.header {
  text-align: center;
  gap: 8px;

  &Text {
    color: hsl(var(--primary));
  }

  &Caption {
    // color: hsl(var(--background)); not the right color
  }
}
