.SidebarContainer {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  height: 100vh;
  padding: 32px 0;
  gap: 24px;
  width: 280px;
  border-right: 1px solid #e4e4e7;
  transition: transform 0.12s linear, width 0.12s  linear; /* Transition both transform and width linearly over 1s */
  transform: translateX(0); /* Default position */
}

.SidebarContainer.closed {
  transform: translateX(-100%); /* Slide the sidebar off-screen */
  width: 0; /* Linearly shrink the width to 0 */
  overflow: hidden; /* Ensure no content spills out */
}

.Avatar {
  padding: 0 24px;
}

.Menu {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  gap: 4px;
}

.Body {
  flex-grow: 1;
}

.Option {
  display: flex;
  flex-direction: row;
  padding: 0 8px;
  gap: 8px;
}

.Button {
  justify-content: flex-start;
  padding: 8px;
  gap: 8px;
  width: 100%;
}
